* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.main {
    background-color: rgb(0, 149, 255);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 10px;
    overflow-x: hidden;
}
